<div>
  <small>This is an example of one way data binding in a component</small><br>
  <h1>{{ pageTitle }}</h1>
  <p>hello world</p>
</div>

<br>
<p>-----------------------------------------</p>
<br>

<div>
  <small>This is an example of two way data binding in a component</small><br>
  <input type="text" [(ngModel)]="updateText">
  <p>this is two way binding: {{updateText}}!!!</p>
</div>


<br>
<p>-----------------------------------------</p>
<br>


<div *ngFor="let item of appitems">
  <small>This is an example of iteration over an array from the same directory as the component</small><br>
  <div>
    <p>{{ item.item }}</p>
    <p>{{ item.cost }}</p>
  </div>
  <div>
    <p>
      *****
    </p>
  </div>
</div>
